.env
__pycache__

/config/*

!/config/*.yaml
/config/secrets.yaml

!/config/rest
!/config/custom_components

/config/custom_components/*
!/config/custom_components/desigo

/mosquitto/config/passwords
