.env
__pycache__

/config/*

!/config/*.yaml
/config/secrets.yaml

!/config/custom_components
!/config/mqtt
!/config/rest

/config/custom_components/*
!/config/custom_components/desigo

/mosquitto/config/passwords
